.App {

}

.page_container {
    background-position: center;
    background-size: cover;
    height: inherit;
    width: inherit;

    display: flex;
    justify-content: center;
    align-items: center;
}
